/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;

}

hr{
    border: 1px solid white;
}

.container-login100 {
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.container-login100::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}

.input-nome{
    border-radius: 15px;
    border-color: transparent;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 1px;
}
::-webkit-input-placeholder {
    color: white;
}
.input-nome-time{
    border-radius: 10px;
    border-color: transparent;
    background-color: black;
    opacity: 0.8;
    padding: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    border: solid 1px;
    border-color: white;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #ddd;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    background-color: #343a40;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #343a40;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding-top: 20px;
    background: #343a40;
}

hr.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: black;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content{
    width: 100%;
    height: 100%;
    position: static;
}

.fifa-bar {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-trans{
    opacity: 0.8;
}

.container-background {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
}

/*----------Table---------*/

table.table tr{
    text-align: center;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
table.table td a.edit {
    color: #fff;
}
table.table td a.delete {
    color: #E34724;
}

table tr:checked {
  tbody {
     tr.selected {
      background-color: #d9edf7;
      color: #31708f;
      &:hover {
        background-color: darken(#d9edf7, 5%);
      }
    }
  }
}

.table-selectable, .table-selectable-multiple {
   tbody {
     tr {
      cursor: pointer;
    }
     tr.selected {
      background-color: #d9edf7;
      color: #31708f;
      &:hover {
        background-color: darken(#d9edf7, 5%);
      }
    }
  }
}

//.desclicado{background: #32383e; color:#fff;}
//.clicado{background: #999; color: #fff;}

.opacity-tab{
    background-color: #343a40;
    opacity: 0.8;
}